<!DOCTYPE html>
 <html>
  <head>
   <meta charset="utf-8">
   <title>图腾医院管理界面</title> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap --> 
   
   <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="__PUBLIC__/css/xitong.css" rel="stylesheet" media="screen">
   <link href="__PUBLIC__/css/kuangti.css" rel="stylesheet" media="screen">
   <script>
       function tianjia(id,IDcard,name,email,pingfen){
           var tbody = document.createElement("tbody");
           var oTab = document.getElementById('tb1');
           var oTr = document.createElement('tr');

           var oTd = document.createElement('td');
           var ad = document.createElement('input');
           ad.type = "text";
           ad.name = "aaa";
           ad.id="IDcard_"+id;
           ad.value=IDcard;
           ad.disabled=true;
           oTd.appendChild(ad);
           oTr.appendChild(oTd);

           var od = document.createElement('td');
           var ad = document.createElement('input');
           ad.type = "text";
           ad.name = "bbb";
           ad.id="name_"+id;
           ad.value=name;
           ad.disabled=true;
           od.appendChild(ad);
           oTr.appendChild(od);

           var od = document.createElement('td');
           var ad = document.createElement('input');
           ad.type = "text";
           ad.name = "bbb";
           ad.id="email_"+id;
           ad.value=email;
           ad.disabled=true;
           od.appendChild(ad);
           oTr.appendChild(od);
           var od = document.createElement('td');
           var ad = document.createElement('input');
           ad.type = "text";
           ad.name = "ccc";
           ad.id="pingfen_"+id;
           ad.value=pingfen;
           ad.disabled=false;
           od.appendChild(ad);
           oTr.appendChild(od);

           var od = document.createElement('td');
           var add = document.createElement('input');
           add.type = "button";
           add.name = "kkk";
           add.id="button1_"+id;
           add.value = "删除用户";
           add.onclick=function(){
               $.ajax({
                   url:APP+"/Home/Admin/DeleteUser",
                   type:"POST",
                   dataType:'json',
                   async:true,
                   data:"&id="+id,
                   success:function(){
                       window.location.reload();
                   }
               });
           };

           od.appendChild(add);
           oTr.appendChild(od);

           var odd = document.createElement('td');
           var addd = document.createElement('input');
           addd.type = "button";
           addd.name = "uuuuu";
           addd.id="button2_"+id;
           addd.value = "编辑评分";
           addd.onclick=function(){
               $.ajax({
                   url:APP+"/Home/Admin/EditUserPingfen",
                   type:"POST",
                   dataType:'json',
                   async:true,
                   data:"&id="+id+"&pingfen="+document.getElementById("pingfen_"+id).value,
                   success:function(){
                       window.location.reload();
                   }
               });
           };


           odd.appendChild(addd);
           oTr.appendChild(odd);


           tbody.appendChild(oTr);
           oTab.appendChild(tbody);

       }
   </script>
    </head> 
   <body onload="showyonghu()">
     <div id="quick" class="box">
       <div class="box-header">
        <ul>
            <li class="active" ><a href="tianjiayiyuan.html">添加医院</a></li>
            <li class="active" ><a href="shanchuyiyuan.html" >删除医院</a></li>
            <li class="active" ><a href="bianjiyonghu.html">编辑用户信息</a></li>
            <li class="active" ><a href="renzheng.html">用户审核认证</a></li>
            <li class="active" ><a href="xiegonggao.html">编写公告</a></li>
           
        </ul>
       </div>
    
         <form name="fr">
             <table name="tab" class="table table-bordered" id="tb1">
              <tbody >
              <tr name="uuu">
                <th rowspan="2">用户身份证</th>
                <th rowspan="2">用户姓名</th>
                <th rowspan="2">用户邮箱</th>
                <th rowspan="2" >用户评分</th>
                <th colspan="2">操作</th>


</tr>
            </tbody>

            </table>



             </form>
           
    </div>
    </div></div>
    
 
     </body> 
     </html>
<js href="__PUBLIC__/js/jquery-2.1.1.min.js"/>
<js href="__PUBLIC__/js/bootstrap.min.js"/>
<script type="text/javascript">
    var PUBLIC= "__PUBLIC__";
    var APP = "__APP__";
    var ROOT = "__ROOT__";

    function showyonghu(){
        $.ajax({
            url:APP+"/Home/Admin/UserInfo",
            type:"POST",
            dataType:'json',
            success:function(data){
                for(var i=0;i<data.length;i++){
                    tianjia(data[i]['id'],data[i]['IDcard'],data[i]['name'],data[i]['email'],data[i]['pingfen']);
                }
            }

        });
    }


</script>