<!DOCTYPE html>
 <html>
  <head>
   <meta charset="utf-8">
   <title>图腾医院管理界面</title> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap --> 
   
   <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="__PUBLIC__/css/renzheng.css" rel="stylesheet" media="screen">
   <link href="__PUBLIC__/css/kuangti.css" rel="stylesheet" media="screen">
    </head> 
   <body>
     <div id="quick" class="box">
       <div class="box-header">
        <ul>
           <li class="active" ><a href="tianjiayiyuan.html">添加医院</a></li>
            <li class="active" ><a href="shanchuyiyuan.html" >删除医院</a></li>
            <li class="active" ><a href="bianjiyonghu.html">编辑用户信息</a></li>
            <li class="active" ><a href="renzheng.html">用户审核认证</a></li>
            <li class="active" ><a href="xiegonggao.html">编辑公告</a></li>
        </ul>
       </div>
    <div class="box-body">
            待审核用户：
            <table >
               <tr>
                  <th>用户名称</th>
                  <th>身份证号</th>
                  <th>身份证照片</th>
                  <th>管理员动作</th>
               </tr>
               <tr>
                 <td>逗比</td>
                 <td>27381782272187281</td>
                 <td><img src="picture/2.jpg" width="300" height="200"></td>
                 <td> <button type="button">通过</button>/<button type="button">未通过</button></td>
               </tr>
           </table>
    </div>
    </div></div>
    
 
     </body> 
     </html>