<!DOCTYPE html>
 <html>
  <head>
   <meta charset="utf-8">
   <title>图腾医院管理界面</title> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap --> 
   
   <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="__PUBLIC__/css/xitong.css" rel="stylesheet" media="screen">
   <link href="__PUBLIC__/css/kuangti.css" rel="stylesheet" media="screen">
    </head> 
   <body>
     <div id="quick" class="box">
       <div class="box-header">
        <ul>
            <li class="active" ><a href="tianjiayiyuan.html">添加医院</a></li>
            <li class="active" ><a href="shanchuyiyuan.html" >删除医院</a></li>
            <li class="active" ><a href="bianjiyonghu.html">编辑用户信息</a></li>
            <li class="active" ><a href="renzheng.html">用户审核认证</a></li>
            <li class="active" ><a href="xiegonggao.html">编辑公告</a></li>
           
        </ul>
       </div>
    <div class="box-body">
            <form>
              <div class="input-group">
                <span class="input-group-addon">医院名称</span>
                <input type="text" class="form-control" placeholder="医院名称" id="hospital_name">
              </div><br>
               
              <div class="input-group">
                <span class="input-group-addon">医院账号</span>
                <input type="text" class="form-control" placeholder="医院账号" id="user_IDcard">
              </div><br>
              <div class="input-group">
                <span class="input-group-addon">账号密码</span>
                <input type="text" class="form-control" placeholder="账号密码" id="user_pwd">
              </div>
                <br>
              

              
              



              <input value="确认" class="btn btn-primary" id="submit" onclick="createyiyuan()"/>
             </form>
    </div>
    </div></div>
    
 
     </body> 
     </html>

<js href="__PUBLIC__/js/jquery-2.1.1.min.js"/>
<js href="__PUBLIC__/js/bootstrap.min.js"/>
<script type="text/javascript">
    var PUBLIC= "__PUBLIC__";
    var APP = "__APP__";
    var ROOT = "__ROOT__";

    function createyiyuan(){

        var name=document.getElementById("hospital_name").value;
        var IDcard=document.getElementById("user_IDcard").value;
        var pwd=document.getElementById("user_pwd").value;
        $.ajax({
            url: APP+'/Home/Admin/CreateHospital',
            type:"POST",
            dataType:'json',
            async:true,
            data:"type=" + "y_vercode" +"&hospital_name="+name+"&user_IDcard="+IDcard+"&user_pwd="+pwd,
            success:function(){
               // window.location.reload();
            }
        });
    }


</script>