<!DOCTYPE html>
 <html>
  <head>
   <meta charset="utf-8">
   <title>图腾医院管理界面</title> 
   <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap --> 
   
   <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <link href="__PUBLIC__/css/renzheng.css" rel="stylesheet" media="screen">
   <link href="__PUBLIC__/css/kuangti.css" rel="stylesheet" media="screen">
    </head> 
   <body>
     <div id="quick" class="box">
       <div class="box-header">
        <ul>
            <li class="active" ><a href="tianjiayiyuan.html">添加医院</a></li>
            <li class="active" ><a href="shanchuyiyuan.html" >删除医院</a></li>
            <li class="active" ><a href="bianjiyonghu.html">编辑用户信息</a></li>
            <li class="active" ><a href="renzheng.html">用户审核认证</a></li>
            <li class="active" ><a href="xiegonggao.html">编辑公告</a></li>
        </ul>
       </div>
    <div class="box-body">
           <form>
                <div class="input-group">
                <span class="input-group-addon">公告标题</span>
                <input type="text" class="form-control" placeholder="公告标题">
              </div><br>
              <div class="input-group">
                <span class="input-group-addon">公告内容</span>
                <input type="textarea" rows="5" class="form-control" placeholder="公告内容">
              </div><br>
                   <input type="submit" value="编辑" id="submit"/>
 
 
           </form>
    </div>
    </div></div>
    
 
     </body> 
     </html>