<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>图腾医院管理界面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Bootstrap -->

    <link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="__PUBLIC__/css/xitong.css" rel="stylesheet" media="screen">
    <link href="__PUBLIC__/css/kuangti.css" rel="stylesheet" media="screen">
</head>
<body>
<div id="quick" class="box">
    <div class="box-header">
        <ul>
            <li class="active" ><a href="bianjiyiyuan.html" >编辑医院信息</a></li>
            <li class="active" ><a href="bianjikeshi.html">编辑科室信息</a></li>
            <li class="active" ><a href="bianjiyisheng.html">编辑医生信息</a></li>
            <li class="active" ><a href="yuyuechuli.html">处理预约单</a></li>
            <li class="active" ><a href="lishiyuyue.html">历史预约单</a></li>
            <li class="active" ><a href="xiegonggaoHospital.html">编写公告</a></li>
        </ul>
    </div>
    <div class="box-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>预约单ID</th>
                    <th>预约医院</th>
                    <th>预约科室</th>
                    <th>预约人姓名</th>
                    <th>预约医生</th>
                    <th>预约人联系方式</th>
                    <th>预约日期</th>
                    <th>预约单生成日期</th>
                    <th>是否赴约</th>
                </tr>
                </thead>
                <tbody>
                <volist name="data" id="arr">
                <tr>
                    <td>{$arr.id}</td>
                    <td>{$arr.hospitalName}</td>
                    <td>{$arr.keshiName}</td>
                    <td>{$arr.yuyueName}</td>
                    <td>{$arr.doctorName}</td>
                    <td>{$arr.phone}</td>
                    <td>{$arr.yuyueDate}</td>
                    <td>{$arr.dateTimes}</td>

                    <td>
                        <div>
                            <button class="btn btn-primary btn-sm" data-id="预约单ID" onclick="fuyue({$arr.id},this)">赴约</button>
                            <button class="btn btn-primary btn-sm" data-id="预约单ID" onclick="weiyue({$arr.id},this)">违约</button>
                        </div>
                        <div class="hide">
                            赴约
                        </div>
                    </td>
                </tr>
                </volist>
                </tbody>
            </table>
    </div>
</div>

<js href="__PUBLIC__/js/jquery-2.1.1.min.js"/>
<js href="__PUBLIC__/js/bootstrap.min.js"/>
<script type="text/javascript">
    var PUBLIC= "__PUBLIC__";
    var APP = "__APP__";
    var ROOT = "__ROOT__";

function fuyue(id,doc) {
    $.ajax({
       url:APP+"/Home/Admin/fuyuele",
        type:"POST",
        dataType:'json',
        async:true,
        data:"&id="+id,
        success:function(data) {
            if(data){
                $(doc).parent().addClass("hide");
                $(doc).parent().next().removeClass("hide");
                $(doc).parent().next().css("color","green");
                $(doc).parent().next().text("已赴约");
            }
        }
    });
}

    function weiyue(id,doc) {
        $.ajax({
            url:APP+"/Home/Admin/weiyuele",
            type:"POST",
            dataType:'json',
            async:true,
            data:"&id="+id,
            success:function(data) {
                if(data){
                    $(doc).parent().addClass("hide");
                    $(doc).parent().next().removeClass("hide");
                    $(doc).parent().next().css("color","red");
                    $(doc).parent().next().text("已违约");
                }
            }
        });
    }
</script>
</body>
</html>