<extend name="Public/base"/>
<block name="main">
    <div class="container">
        <div id="h-s-condition" class="h-panel">
            <div class="condition-item">
                <div class="attribute">
                    <span>医院类型：</span>
                </div>
                <div class="condition">
                    <ul>
                        <li><a href="" class="active">卫生部直属医院</a></li>
                        <li><a href="">北京市卫生局直属医院</a></li>
                        <li><a href="">中国医科院所属医院</a></li>
                        <li><a href="">中国中医科学院</a></li>
                        <li><a href="">北京中医药大学</a></li>
                        <li><a href="">北京大学附属医院</a></li>
                        <li><a href="">驻京部队医院</a></li>
                        <li><a href="">驻京武警医院</a></li>
                        <li><a href="">部属厂矿高校医院</a></li>
                        <li><a href="">北京区县属医院</a></li>
                        <li><a href="">其它</a></li>
                    </ul>
                </div>
            </div>
            <div class="condition-item">
                <div class="attribute">
                    <span>医院等级：</span>
                </div>
                <div class="condition">
                    <ul>
                        <li><a href="" class="active">不限</a></li>
                        <li><a href="">三级医院</a></li>
                        <li><a href="">二级医院</a></li>
                        <li><a href="">一级医院</a></li>
                    </ul>
                </div>
            </div>
            <div class="condition-item">
                <div class="attribute">
                    <span>所属区县：</span>
                </div>
                <div class="condition">
                    <ul>
                        <li><a href="" class="active">不限</a></li>
                        <li><a href="">海淀区</a></li>
                        <li><a href="">朝阳区</a></li>
                        <li><a href="">西城区</a></li>
                        <li><a href="">东城区</a></li>
                        <li><a href="">丰台区</a></li>
                        <li><a href="">石景山区</a></li>
                        <li><a href="">通州区</a></li>
                        <li><a href="">顺义区</a></li>
                        <li><a href="">房山区</a></li>
                        <li><a href="">大兴区</a></li>
                        <li><a href="">昌平区</a></li>
                        <li><a href="">怀柔区</a></li>
                        <li><a href="">平谷区</a></li>
                        <li><a href="">门头沟区</a></li>
                        <li><a href="">密云县</a></li>
                        <li><a href="">延庆县</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="h-content" class="h-panel">
            <div class="hospital-item">
                <img src="__PUBLIC__/images/slider1.jpg"/>
                <p>
                    <strong><a href="">北京协和医院</a></strong><br>
                    电话：<abbr>东院咨询台:010-69155564;西院咨询台:010-69158010</abbr><br>
                    地址：<abbr>[东院]北京市东城区帅府园一号 [西院]北京市西城区大木仓胡同41号 </abbr><br>
                    所属地区：<abbr>东城区</abbr><br>
                </p>
                <button class="btn btn-warning">进入医院</button>
            </div>
            <div class="hospital-item">
                <img src="__PUBLIC__/images/slider1.jpg"/>
                <p>
                    <strong><a href="">北京协和医院</a></strong><br>
                    电话：<abbr>东院咨询台:010-69155564;西院咨询台:010-69158010</abbr><br>
                    地址：<abbr>[东院]北京市东城区帅府园一号 [西院]北京市西城区大木仓胡同41号 </abbr><br>
                    所属地区：<abbr>东城区</abbr><br>
                </p>
                <button class="btn btn-warning">进入医院</button>
            </div>
            <div class="hospital-item">
                <img src="__PUBLIC__/images/slider1.jpg"/>
                <p>
                    <strong><a href="">北京协和医院</a></strong><br>
                    电话：<abbr>东院咨询台:010-69155564;西院咨询台:010-69158010</abbr><br>
                    地址：<abbr>[东院]北京市东城区帅府园一号 [西院]北京市西城区大木仓胡同41号 </abbr><br>
                </p>
                <button class="btn btn-warning">进入医院</button>
            </div>
        </div>
    </div>
</block>