<extend name="Public/base"/>
<block name="main">
    <div class="container">
        <div class="col-md-3">
            <div class="box">
                <div class="box-header">
                    <ul><li class="active" data-i="{$i1}-{$i2}">所有科室</li></ul>
                </div>
                <div class="box-body">
                    <div class="keshi">
                        <ul>
                            <li class="type">内 科</li>
                            <li class="items">
                                <ul>
                                    <li>心血管内科</li>
                                    <li>神经内科</li>
                                    <li>消化内科</li>
                                    <li>内分泌科</li>
                                    <li>免疫科</li>
                                    <li>呼吸科</li>
                                    <li>肾病内科</li>
                                    <li>血液科</li>
                                    <li>感染内科</li>
                                    <li>过敏反应科</li>
                                    <li>老年病科</li>
                                    <li>普通内科</li>
                                    <li>高压氧科</li>
                                </ul>
                            </li>
                            <li class="type">外 科</li>
                            <li class="items">
                                <ul>
                                    <li>神经外科</li>
                                    <li>功能神经外科</li>
                                    <li>心血管外科</li>
                                    <li>胸外科</li>
                                    <li>整形科</li>
                                    <li>乳腺外科</li>
                                    <li>泌尿外科</li>
                                    <li>肝胆外科</li>
                                    <li>肛肠科</li>
                                    <li>血管外科</li>
                                    <li>器官移植</li>
                                    <li>微创外科</li>
                                    <li>普外科</li>
                                    <li>脑外科</li>
                                    <li>烧伤科</li>
                                </ul>
                            </li>
                            <li class="type">妇产科</li>
                            <li class="items">
                                <ul>
                                    <li>妇科</li>
                                    <li>产科</li>
                                    <li>妇科内分泌</li>
                                    <li>妇泌尿科</li>
                                    <li>产前监察科</li>
                                    <li>遗传咨询科</li>
                                    <li>计划生育科</li>
                                    <li>妇产科</li>
                                </ul>
                            </li>
                            <li class="type">生殖中心</li>
                            <li class="items">
                                <ul>
                                    <li>生殖中心</li>
                                </ul>
                            </li>
                            <li class="type">儿 科</li>
                            <li class="items">
                                <ul>
                                    <li>儿科</li>
                                    <li>新生儿科</li>
                                    <li>小儿呼吸科</li>
                                    <li>小儿消化科</li>
                                    <li>小儿营养保健科</li>
                                    <li>小儿皮肤科</li>
                                    <li>小儿心内科</li>
                                    <li>小儿肾内科</li>
                                    <li>小儿内分泌科</li>
                                    <li>小儿免疫科</li>
                                    <li>小儿神经科</li>
                                    <li>小儿耳鼻喉</li>
                                    <li>小儿血液科</li>
                                    <li>小儿感染科</li>
                                    <li>小儿精神科</li>
                                    <li>小儿妇科</li>
                                    <li>小儿外科</li>
                                    <li>小儿心外科</li>
                                    <li>小儿胸外科</li>
                                    <li>小儿骨科</li>
                                    <li>小儿泌尿科</li>
                                    <li>小儿神经外科</li>
                                    <li>小儿整形科</li>
                                    <li>小儿康复科</li>
                                    <li>小儿急诊科</li>
                                    <Li>小儿普外科</Li>
                                    <li>儿童遗传病科</li>
                                    <li>儿童传染病科</li>
                                </ul>
                            </li>
                            <li class="type">骨外科</li>
                            <li class="items">
                                <ul>
                                    <li>骨科</li>
                                    <li>脊柱外科</li>
                                    <li>手外科</li>
                                    <li>创伤骨科</li>
                                    <li>骨关节科</li>
                                    <li>矮形骨科</li>
                                    <li>骨质疏松科</li>
                                    <li>骨伤专科</li>
                                </ul>
                            </li>
                            <li class="type">眼 科</li>
                            <li class="items">
                                <ul>
                                    <li>眼科</li>
                                    <li>小儿眼科</li>
                                    <li>眼底</li>
                                    <li>角膜科</li>
                                    <li>青光眼</li>
                                    <li>白内障</li>
                                    <li>眼外伤</li>
                                    <li>眼眶及肿瘤</li>
                                    <li>屈光</li>
                                    <li>眼整形</li>
                                    <li>中医眼科</li>
                                    <li>准分子激光科</li>
                                </ul>
                            </li>
                            <li class="type">口腔科</li>
                            <li class="items">
                                <ul>
                                    <li>口腔科</li>
                                    <li>颌面外科</li>
                                    <li>正畸科</li>
                                    <li>牙体牙髓科</li>
                                    <li>牙周科</li>
                                    <li>口腔粘膜科</li>
                                    <li>儿童口腔科</li>
                                    <li>口腔修复科</li>
                                    <li>种植科</li>
                                    <li>口腔预防科</li>
                                    <li>口腔特诊科</li>
                                    <li>口腔急诊科</li>
                                </ul>
                            </li>
                            <li class="type">耳鼻咽喉头颈科</li>
                            <li class="items">
                                <ul>
                                    <li>耳鼻喉</li>
                                    <li>头颈外科</li>
                                </ul>
                            </li>
                            <li class="type">肿瘤科</li>
                            <li class="items">
                                <ul>
                                    <li>肿瘤内科</li>
                                    <li>肿瘤外科</li>
                                    <li>肿瘤妇科</li>
                                    <li>放疗科</li>
                                    <li>骨肿瘤科</li>
                                    <li>肿瘤康复科</li>
                                    <li>肿瘤综合科</li>
                                </ul>
                            </li>
                            <li class="type">皮肤性病科</li>
                            <li class="items">
                                <ul>
                                    <li>皮肤科</li>
                                    <li>性病科</li>
                                </ul>
                            </li>
                            <li class="type">男性学科</li>
                            <li class="items">
                                <ul>
                                    <li>男性学科</li>
                                </ul>
                            </li>
                            <li class="type">皮肤美容</li>
                            <li class="items">
                                <ul>
                                    <li>皮肤美容</li>
                                </ul>
                            </li>
                            <li class="type">烧伤科</li>
                            <li class="items">
                                <ul>
                                    <li>烧伤科</li>
                                </ul>
                            </li>
                            <li class="type">精神心理科</li>
                            <li class="items">
                                <ul>
                                    <li>精神科</li>
                                    <li>心理咨询科</li>
                                    <li>司法鉴定科</li>
                                    <li>双相障碍科</li>
                                    <li>药物依赖科</li>
                                </ul>
                            </li>
                            <li class="type">中医科</li>
                            <li class="items">
                                <ul>
                                    <li>中医科</li>
                                    <li>中医妇产科</li>
                                    <li>中医儿科</li>
                                    <li>中医骨科</li>
                                    <li>中医皮肤科</li>
                                    <li>中医内分泌</li>
                                    <li>中医消化科</li>
                                    <li>中医呼吸科</li>
                                    <li>中医肾病内科</li>
                                    <li>中医免疫科</li>
                                    <li>中医心内科</li>
                                    <li>中医神经内科</li>
                                    <li>中医肿瘤科</li>
                                    <li>中医血液科</li>
                                    <li>中医感染内科</li>
                                    <li>中医肝病科</li>
                                    <li>中医五官科</li>
                                    <li>中医男科</li>
                                    <li>针灸科</li>
                                    <li>中医按摩科</li>
                                    <li>中医外科</li>
                                    <li>中医乳腺外科</li>
                                    <li>中医肛肠科</li>
                                    <li>中医老年病科</li>
                                    <li>中医内科</li>
                                    <li>中医脾胃科</li>
                                    <li>膏方门诊</li>
                                    <li>中医骨伤科</li>
                                </ul>
                            </li>
                            <li class="type">中西医结合科</li>
                            <li class="items">
                                <ul>
                                    <li>中西医结合科</li>
                                </ul>
                            </li>
                            <li class="type">传染病科</li>
                            <li class="items">
                                <ul>
                                    <li>肝病科</li>
                                    <li>传染科</li>
                                    <li>传染危重病常见疾病</li>
                                </ul>
                            </li>
                            <li class="type">结核病科</li>
                            <li class="items">
                                <ul>
                                    <li>结核病科</li>
                                </ul>
                            </li>
                            <li class="type">介入医学科</li>
                            <li class="items">
                                <ul>
                                    <li>介入医学科</li>
                                </ul>
                            </li>
                            <li class="type">康复医学科</li>
                            <li class="items">
                                <ul>
                                    <li>康复科</li>
                                    <li>理疗科</li>
                                </ul>
                            </li>
                            <li class="type">运动医学科</li>
                            <li class="items">
                                <ul>
                                    <li>运动医学科</li>
                                </ul>
                            </li>
                            <li class="type">麻醉医学科</li>
                            <li class="items">
                                <ul>
                                    <li>病痛科</li>
                                    <li>麻醉科</li>
                                </ul>
                            </li>
                            <li class="type">职业病科</li>
                            <li class="items">
                                <ul>
                                    <li>职业病科</li>
                                </ul>
                            </li>
                            <li class="type">地方病科</li>
                            <li class="items">
                                <ul>
                                    <li>地方病科</li>
                                </ul>
                            </li>
                            <li class="type">营养科</li>
                            <li class="items">
                                <ul>
                                    <li>营养科</li>
                                </ul>
                            </li>
                            <li class="type">医学影像学</li>
                            <li class="items">
                                <ul>
                                    <li>核医学科</li>
                                    <li>放射科</li>
                                    <li>超声科</li>
                                    <li>医学影像科</li>
                                </ul>
                            </li>
                            <li class="type">病理科</li>
                            <li class="items">
                                <ul>
                                    <li>病理科</li>
                                </ul>
                            </li>
                            <li class="type">其他科室</li>
                            <li class="items">
                                <ul>
                                    <li>急诊科</li>
                                    <li>特色医疗科</li>
                                    <li>干部诊疗科</li>
                                    <li>重症监护室</li>
                                    <li>特诊科</li>
                                    <li>检验科</li>
                                    <li>预防保健科</li>
                                    <li>功能检查科</li>
                                    <li>全科</li>
                                    <li>药剂科</li>
                                    <li>体检科</li>
                                    <li>血透中心</li>
                                    <li>实验中心</li>
                                    <li>碎石中心</li>
                                    <li>IMCC</li>
                                    <li>护理咨询</li>
                                    <li>姿态反应科</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="h-panel">
                <foreach name="list" item="obj">
                    <div class="hospital-item">
                        <img src="__PUBLIC__/images/{$obj.imgURL}"/>
                        <p>
                            <strong><a href="__APP__/Home/Hospital/keshim?keshiID={$obj.id}">{$obj.hospitalName}&nbsp&nbsp&nbsp&nbsp&nbsp{$obj.name}</a></strong><br>
                            电话：<abbr>{$obj.phone}</abbr><br>
                            地址：<abbr>{$obj.xiangxiAddress} </abbr><br>
                        </p>
                        <button class="btn btn-warning"><a href="__APP__/Home/Hospital/keshim?keshiID={$obj.id}">进入科室</a></button>
                    </div>
                </foreach>
                <p>{$page}</p>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <script type="text/javascript">
        $("#header_menu li").eq(2).addClass("active");
    </script>
</block>