<extend name="Public/base"/>
<block name="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="person-menu">
                    <ul>
                        <li class="bigt">个人资料</li>
                        <li class="smallt" id="person"><a href="__APP__/Home/Hospital/personCenter">账户资料</a></li>
                        <li class="smallt" id="pwd-xiugai"><a href="__APP__/Home/Hospital/changePwd">修改密码</a></li>
                        <li class="bigt">我的预约</li>
                        <li class="smallt active" id="n-yuyue"><a href="__APP__/Home/Hospital/nowOrder">当前预约</a></li>
                        <li class="smallt" id="p-yuyue"><a href="__APP__/Home/Hospital/prevOrder">历史预约</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div id="n-yuyue-body" class="box">
                    <div class="box-header">
                        <ul>
                            <li class="active">当前预约</li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="yuyue-body">
                            <table>
                                <tr>
                                    <td>医院</td>
                                    <td>科室</td>
                                    <td>医生</td>
                                    <td>就诊日期</td>
                                    <td>预约日期</td>
                                    <td>取消预约</td>
                                </tr>
                                <volist name="dangqian" id="arr">
                                    <tr>
                                        <td>{$arr.hospitalName}</td>
                                        <td>{$arr.keshiName}</td>
                                        <td>{$arr.doctorName}</td>
                                        <td>{$arr.yuyueDate}</td>
                                        <td>{$arr.dateTimes}</td>
                                        <td><a href="javascript:void(0)" data-id="{$arr.id}">取消</a></td>
                                    </tr>
                                </volist>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <load href="__PUBLIC__/js/person.js"/>
</block>