<extend name="Public/base"/>
<block name="main">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="person-menu">
                    <ul>
                        <li class="bigt">个人资料</li>
                        <li class="smallt active" id="person"><a href="__APP__/Home/Hospital/personCenter">账户资料</a></li>
                        <li class="smallt" id="pwd-xiugai"><a href="__APP__/Home/Hospital/changePwd">修改密码</a></li>
                        <li class="bigt">我的预约</li>
                        <li class="smallt" id="n-yuyue"><a href="__APP__/Home/Hospital/nowOrder">当前预约</a></li>
                        <li class="smallt" id="p-yuyue"><a href="__APP__/Home/Hospital/prevOrder">历史预约</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div id="person-body" class="box">
                    <div class="box-header">
                        <ul>
                            <li class="active">账户资料</li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="person-data">
                            <table class="data-table">
                                <tr>
                                    <td>姓名：</td>
                                    <td>{$user.name}</td>
                                </tr>
                                <tr>
                                    <td>证件：</td>
                                    <td>{$user.IDcard}</td>
                                </tr>
                                <tr>
                                    <td>邮箱：</td>
                                    <td>{$user.email}</td>
                                </tr>
                                <tr>
                                    <td>是否认证：</td>
                                    <if condition="$user.isRenzheng eq 0">
                                        <td>
                                            <a href="__APP__/Home/Hospital/identifyCenter" id="renzheng">点击进入认证</a>
                                        </td>
                                        <elseif condition="$user.isRenzheng eq 1"/>
                                        <td>已认证</td>
                                        <else/>
                                        <td>等待管理员审核</td>
                                    </if>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="js">
    <load href="__PUBLIC__/js/person.js"/>
</block>