
#div1{
	float: left;
}
.ke{
	width: 100px;
	overflow:hidden;
	
.kes{
	width: 100px;
	overflow:hidden;
}
.keshis{
	width: 50px;
	overflow:hidden;
}
.keshiss{
	width: 50px;
	overflow:hidden;
}